# Dependencies
node_modules/

# Compiled TypeScript
dist/

# output Tailwind CSS
styles/output.css

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/